@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

$color-primary: #506955;
$color-background: #f9f9f9;
$color-background-alt: #f9f9f9;
$color-text: #333333;
$color-text-light: #7b7b7b;
$color-accent: #9c6f37;
$color-accent-alt: #9c3d37;

$font-primary: "Outfit", serif;

$font-weight-bold: 700;

$font-size-xsmall: 0.75rem;
$font-size-small: 1rem;
$font-size-medium: 1.5rem;
$font-size-large: 2rem;
$font-size-title: 4.5rem;
