@import '../styles/variables';

.experience-item {
    font-size: $font-size-small;
    color: $color-text;
}

.experience-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.job-title {
    font-weight: bold;
    font-size: $font-size-medium;
}

.job-duration {
    font-style: italic;
}

.experience-technologies {
    font-style: italic;
}

.experience-description {
    list-style-type: disc;
    padding-left: 40px;
    margin-bottom: 10px;

    li {
        margin-bottom: 5px;
        color: $color-text;
    }
}